.ranking-wrapper {
    width: 100%;

    &__user {
        display: flex;
        align-content: center;
        .rank-star {
            margin-left: 10px;
            cursor: pointer;
            &__body {
                fill: $black;
            }

            &__border {
                fill: $black-2;
            }

            &--marked {
                &__body {
                    fill: $white-2;
                }
            }
        }
    }
}
