$black: #000000;
$black-0: #121212;
$black-1: #222222;
$black-2: #919191;
$black-3: #D8D8D8;

$white: #fff;
$white-0: #eee;
$white-1: #ddd;
$white-2: #ccc;
$white-3: #bbb;
$white-4: #aaa;
$white-5: #999;

$steam-green: #5c7e10;
$barn-red: #c21807;
